serial
setuptools
cython
firebase
pyrebase
python_jwt==2.0.1
gcloud==0.17.0
sseclient
pycairo
requests>=2.20.0
requests-toolbelt==0.7.0
pickle5
pyserial
Pillow
RPi.GPIO
opencv-python
streamlit==0.62.0
